<!-- PRODUCT TABLE -->
<div class="flex w-full flex-col pt-5">
  <div class="flex items-center justify-between">
    <h3 class="text-xl font-bold tracking-tight">Products</h3>
    <button
      id="btn-add"
      class="self-end rounded border border-none bg-black px-3 py-2 text-sm font-bold uppercase text-white hover:bg-black/80"
    >
      New
    </button>
  </div>
  <div class="relative mt-4">
    <table class="w-full text-left text-sm text-gray-500 rtl:text-right">
      <thead class="bg-gray-50 text-xs uppercase text-gray-700">
        <th class="px-6 py-3">ID</th>
        <th class="px-6 py-3">Product</th>
        <th class="px-6 py-3">Description</th>
        <th class="px-6 py-3">Actions</th>
      </thead>
      <tbody id="product-table-body">
        <tr>
          <td colspan="4" class="w-100 py-5 text-center">
            No Products loaded yet..
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
