<div class="grid" method="dialog">
  <div
    class="z-10 m-auto w-[min(100%,40ch)] rounded-md border bg-white shadow-md"
  >
    <form class="grid space-y-4 px-4 py-3" method="dialog">
      <div
        class="flex items-center justify-between border-b px-5 py-5 font-bold tracking-tight"
      >
        <span class="text-xl">Edit Product</span>
        <button value="cancel" formnovalidate class="text-2xl">&times;</button>
      </div>
      <input
        class="rounded border border-y-teal-800/15 px-3 py-2 text-lg"
        type="text"
        name="title"
        id="title"
        placeholder="Title"
      />
      <input
        class="rounded border border-y-teal-800/15 px-3 py-2 text-lg"
        type="text"
        name="img"
        id="img"
        placeholder="Image URL"
      />
      <input
        class="rounded border border-y-teal-800/15 px-3 py-2 text-lg"
        type="text"
        name="description"
        id="description"
        placeholder="Description"
      />
      <input
        class="rounded border border-y-teal-800/15 px-3 py-2 text-lg"
        type="number"
        name="price"
        id="price"
        placeholder="7.99"
      />
      <button
        type="submit"
        value="add"
        class="rounded border border-none bg-black px-4 py-3 font-bold uppercase tracking-widest text-white hover:bg-black/80"
      >
        Edit
      </button>
    </form>
  </div>
</div>
