<div class="grid" method="dialog">
  <div
    class="z-10 m-auto w-[min(100%,40ch)] rounded-md border bg-white shadow-md"
  >
    <form class="grid space-y-4 px-4 py-3" method="dialog" id="form-edit">
      <div
        class="flex items-center justify-between border-b py-3 font-bold tracking-tight"
      >
        <span class="text-xl">Edit Product</span>
        <button
          value="cancel"
          type="button"
          onclick="document.querySelector('#modal__edit-product').close()"
          formnovalidate
          class="text-2xl"
        >
          &times;
        </button>
      </div>
      <input type="hidden" name="productId" id="productId" />
      <input
        class="rounded border border-y-teal-800/15 px-3 py-2 text-lg"
        type="text"
        name="name"
        id="name"
      />
      <input
        class="rounded border border-y-teal-800/15 px-3 py-2 text-lg"
        type="text"
        name="description"
        id="description"
      />
      <input
        class="rounded border border-y-teal-800/15 px-3 py-2 text-lg"
        type="number"
        step="0.01"
        name="price"
        id="price"
      />
      <button
        type="submit"
        value="edit"
        class="rounded border border-none bg-black px-4 py-3 font-bold uppercase tracking-widest text-white hover:bg-black/80"
      >
        Edit
      </button>
    </form>
  </div>
</div>
