<div class="grid" method="dialog">
  <div
    class="z-10 m-auto w-[min(100%,300px)] rounded-md border bg-white shadow-md"
  >
    <form class="grid space-y-4 px-4 py-3" method="dialog" id="form-add">
      <div
        class="flex items-center justify-between border-b py-3 font-bold tracking-tight"
      >
        <span class="text-xl">Create New Product</span>
        <button
          type="button"
          onclick="document.querySelector('#modal__new-product').close()"
          class="text-2xl"
        >
          &times;
        </button>
      </div>
      <input
        class="rounded border border-y-teal-800/15 px-3 py-2 text-lg"
        type="text"
        name="name"
        id="name"
        placeholder="Name"
      />
      <input
        class="rounded border border-y-teal-800/15 px-3 py-2 text-lg"
        type="text"
        name="description"
        id="description"
        placeholder="Description"
      />
      <input
        class="rounded border border-y-teal-800/15 px-3 py-2 text-lg"
        type="number"
        name="price"
        id="price"
        step="0.01"
        placeholder="7.99"
      />
      <button
        type="submit"
        value="add"
        class="rounded border border-none bg-black px-4 py-3 font-bold uppercase tracking-widest text-white hover:bg-black/80"
      >
        Add
      </button>
    </form>
  </div>
</div>
