<!-- NAVBAR -->
<nav class="h-20 bg-slate-100">
  <div class="flex h-full items-center justify-between px-8">
    <!-- LOGO -->
    <a href="#" class="text-2xl font-bold tracking-widest text-gray-800"
      >UNIQE</a
    >
    <!-- NAVIGATION -->
    <ul class="flex items-center gap-8 font-mono">
      <li>
        <a
          href="#"
          class="tracking-tight text-gray-800 underline-offset-2 hover:underline"
          >Home</a
        >
      </li>
      <li>
        <a
          href="dashboard.html"
          class="tracking-tight text-gray-800 underline-offset-2 hover:underline"
          >Dashboard</a
        >
      </li>
      <li>
        <a
          href="#"
          class="tracking-tight text-gray-800 underline-offset-2 hover:underline"
          >Services</a
        >
      </li>
      <li>
        <a
          href="#"
          class="tracking-tight text-gray-800 underline-offset-2 hover:underline"
          >Contact</a
        >
      </li>
    </ul>
  </div>
</nav>
