<!-- component -->
<div class="mb-8 grid gap-6 md:grid-cols-2 xl:grid-cols-4">
  <div
    class="min-w-0 overflow-hidden rounded-lg bg-white shadow-md dark:bg-gray-800"
  >
    <div class="flex items-center p-4">
      <div
        class="mr-4 rounded-full bg-orange-100 p-3 text-orange-500 dark:bg-orange-500 dark:text-orange-100"
      >
        <img src="/src/assets/clients.svg" class="h-5 w-5" />
      </div>
      <div>
        <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
          Total clients
        </p>
        <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
          8739
        </p>
      </div>
    </div>
  </div>
  <div
    class="min-w-0 overflow-hidden rounded-lg bg-white shadow-md dark:bg-gray-800"
  >
    <div class="flex items-center p-4">
      <div
        class="mr-4 rounded-full bg-green-100 p-3 text-green-500 dark:bg-green-500 dark:text-green-100"
      >
        <img src="/src/assets/money.svg" class="h-5 w-5" />
      </div>
      <div>
        <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
          Account balance
        </p>
        <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
          73,420.99 €
        </p>
      </div>
    </div>
  </div>
  <div
    class="min-w-0 overflow-hidden rounded-lg bg-white shadow-md dark:bg-gray-800"
  >
    <div class="flex items-center p-4">
      <div
        class="mr-4 rounded-full bg-blue-100 p-3 text-blue-500 dark:bg-blue-500 dark:text-blue-100"
      >
        <img src="/src/assets/cart.svg" class="h-5 w-5" />
      </div>
      <div>
        <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
          New sales
        </p>
        <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
          673
        </p>
      </div>
    </div>
  </div>
  <div
    class="min-w-0 overflow-hidden rounded-lg bg-white shadow-md dark:bg-gray-800"
  >
    <div class="flex items-center p-4">
      <div
        class="mr-4 rounded-full bg-teal-100 p-3 text-teal-500 dark:bg-teal-500 dark:text-teal-100"
      >
        <img src="/src/assets/chat.svg" class="h-5 w-5" />
      </div>
      <div>
        <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
          Pending contacts
        </p>
        <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">73</p>
      </div>
    </div>
  </div>
</div>
